/* Use flexbox to align the divs in a row. 
Reverse the order of the divs. */

main{
    width: 75%;
    min-height: 60%;
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: 15%;
}

div {
    height: 100px;
    width: 150px;
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;

}